
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



  
body{
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.wrapper{
    max-width: 100;
    margin: auto;
} 

.rootsection{
    background-color: #d4cdcd;
    height: 70px;
    padding-left: 40px;
    padding-right: 40px;
}

.primary-head{
    /* padding-top: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo{
    margin-top: 4px;
     overflow: hidden;
     display: flex;
     flex-direction: row;
     /* gap: 6px; */
     /* border: 1px solid red; */
     /* background-color: antiquewhite; */
    >img{
        /* border: 1px solid red;  */
        border-radius: 50%;
        width:60px;
        
    }
}
.navigation-bar{
   font-size: 1.1em;
   margin-right: 26px;
>ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    /* justify-content: space-around; */
}
}

.navigation-bar a {
    text-decoration: none;
    color: rgb(204, 43, 43);
    margin: 10px;
}

.navigation-bar a:hover{
    text-decoration: none;
    color: rgb(78, 57, 57);
    margin: 10px;
    /* cursor: pointer; */
}

.hamburger img{
    position: fixed;
    right: 8px;
    top: 8px;
    width: 50px;
    border-radius: 50%;
    display: none;
 }



@media screen and (max-width: 900px) {
     .navigation-bar{
        display: none;
     }
     .hamburger>img{
        display: block;
     }

  } 